body {
    margin: 0;
    font-family: "Times New Roman", serif;
    display: flex;
    background: #f3f9fb;
}

/* SIDEBAR */
nav {
    width: 250px;
    background: #dbeef5;
    height: 100vh;
    padding: 20px;
    box-shadow: 2px 0 10px rgba(0,0,0,0.1);
}
nav h2 { margin-bottom:25px; color:#004c6d; }
nav ul { list-style:none; padding:0; }

nav li {
    padding:12px;
    cursor:pointer;
    font-weight:bold;
    border-radius:8px;

    /* permanent shading */
    background:#eaf6fb;
    margin-bottom:5px;
}

nav li:hover {
    background:#d7edf5;
}

/* active = darker shading */
nav li.active {
    background:#b4dae9;
    color:#00384e !important;
}

/* MAIN SECTIONS */
.page {
    background:#ffffff;
    border:3px solid #c7e8f7;
    border-radius:20px;
    padding:30px;
    margin-bottom:40px;
    box-shadow:0 6px 18px rgba(0,0,0,0.05);
    display:none;
}
.page.active { display:block; }

/* SQUARES */
.square {
    background:white;
    width:200px;
    height:200px;
    margin:15px;
    border-radius:15px;
    border:2px solid #0090c5;
    display:inline-flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    font-size:18px;
}

.premium { border:3px solid gold; position:relative; }
.premium-tag {
    position:absolute;
    top:8px; right:10px;
    background:gold;
    padding:3px 8px;
    font-size:12px;
    border-radius:5px;
}

/* TEMPLATE PAGE */
.template-card-container {
    padding-bottom:25px;
    border-bottom:2px solid #d3e7f3;
    margin-bottom:25px;
}

.template-card:hover {
    background:#e7f6ff;
    transform:scale(1.05);
    transition:0.25s;
}

.template-preview-wrapper {
    background:#eef7ff;
    padding:25px;
    border-radius:15px;
    border:1px solid #cfe3f2;
}

.template-preview {
    background:white;
    border:2px solid #a8ceff;
    padding:20px;
    border-radius:15px;
    margin-bottom:20px;
}

.preview-block {
    background:#f7fbff;
    padding:12px;
    margin:10px 0;
    border-radius:12px;
    border:1px solid #bcd9ef;
}

/* CUSTOM TEMPLATE MOCKUP */
.mockup-field {
    background:white;
    padding:12px;
    border-radius:10px;
    border:1px solid #bcd9ef;
    margin-bottom:12px;
}
.mockup-field.large {
    height:70px;
}

.hidden { display:none; }

.back-button {
    padding:10px 20px;
    background:#0090c5;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    margin-top:15px;
}
.back-button:hover { background:#0078a1; }
